body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:13px;
  width:32px;
  height:33px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:98px;
  width:99px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:178px;
  width:71px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:15px;
  width:36px;
  height:36px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:21px;
  width:74px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:201px;
  width:295px;
  height:1px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:226px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:138px;
  width:71px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:161px;
  width:295px;
  height:1px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:138px;
  width:107px;
  height:20px;
  font-size:14px;
  color:#E4E4E4;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
