body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:13px;
  width:32px;
  height:33px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:98px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:138px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:15px;
  width:36px;
  height:36px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:21px;
  width:74px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:121px;
  width:295px;
  height:1px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:161px;
  width:295px;
  height:1px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:100px;
  width:74px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:186px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:332px;
  width:71px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:355px;
  width:295px;
  height:1px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:380px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
